include ../head.pug
body
    .container.mt-5
      .row.d-flex.align-items-center
        .col-md-6
          h1 List
        .col-md-6.text-end
        a.btn.btn-success(href='/add', role='button') Add
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Recipe Name
            th(scope="col") Ingredients
            th(scope="col") Time
            th(scope="col") Process
        tbody
    script.
          document.addEventListener('DOMContentLoaded', function() {
            axios.get('api/recipe')
              .then(function(response) {
                const recipes = response.data;
                const tableBody = document.querySelector('table tbody');
                recipes.forEach( r => {
                  const row = document.createElement('tr');
                  const recipe = r.recipe
                  row.innerHTML = `
                    <td>${r.id}</td>
                    <td>${recipe.recipeName}</td>
                    <td>${recipe.ingredients}</td>
                    <td>${recipe.time}</td>
                    <td>${recipe.process}</td>
                    <td>
                    <button class="btn btn-primary btn-sm" data-id="${r.id}" onclick="window.location.href='/update/${r.id}'">Update</button>
                    <button class="btn btn-danger btn-sm" data-id="${r.id}">Delete</button>
                    </td>
                  `;
                  tableBody.appendChild(row);
                });
              })
              .catch(function(error) {
                console.log(error);
              });

              // Use event delegation for delete buttons
              document.addEventListener('click', function(event) {
                if (event.target && event.target.classList.contains('btn-danger')) {
                  const recipeId = event.target.getAttribute('data-id');
                  axios.delete(`/api/recipe/${recipeId}`).then(function(response) {
                    console.log('Deleted successful', response);
                    location.href = '/'
                  })
                  .catch(function(error) {
                    console.log('Error deleting recipe', error);
                  });
                }
              });
          });
