include ../head.pug
body
    .container.mt-5
      h1 List
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Recipe Name
            th(scope="col") Ingredients
            th(scope="col") Time
            th(scope="col") Process
        tbody
script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('api/recipe')
          .then(function(response) {
            const recipes = response.data;
            const tableBody = document.querySelector('table tbody');
            recipes.forEach(r => {
              const row = document.createElement('tr');
              const recipe = r.recipe
              row.innerHTML = `
                <td>${r.id}</td>
                <td>${recipe.recipeName}</td>
                <td>${recipe.ingredients}</td>
                <td>${recipe.time}</td>
                <td>${recipe.process}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Edit</button>
                  <button class="btn btn-danger btn-sm">Delete</button>
                </td>
              `;
              tableBody.appendChild(row);
            });
          })
          .catch(function(error) {
            console.log(error);
          });
      });
